@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

body {
    font-family: 'Baloo Da 2', cursive;
}

.row {
    display: flex;
}

.col-10 {
    width: 80%;
}

.col-2 {
    width: 20%;
}